body {
    background-image: url("../images/bg.jpg");
}

.main {
    width: 60%;
}


.sub-button {
    text-decoration: none;
    color: #ffffff;
    line-height: 50px;
}

.sub-button > span {
    font-size: 30px;
    color: #ffffff;
}

nav {
    display: flex;
    margin-top: 15px;
    justify-content: end;
    
}

.socials {
    display: inline-block;
    
}

.socials > li {
    display: inline-block;
    list-style: none;
}

.socials > li > span {
    font-size: 35px;
}

.socials li:nth-child(2) {
    background-color: rgb(53, 67, 133);
    height: 60px;
    width: 60px;
    line-height: 60px;
    font-size: 35px;
    border-bottom: solid 5px rgb(100, 99, 99);
}

.socials li:nth-child(2) > a {
    color: #ffffff;
    opacity: 0.4;
}

.socials li:nth-child(3) {
    background-color: rgb(217, 149, 60);
    height: 60px;
    width: 60px;
    line-height: 60px;
    font-size: 35px;
    border-bottom: solid 5px rgb(100, 99, 99);
}

.socials li:nth-child(3) > a {
    color: #ffffff;
    opacity: 0.4;
}

.socials li:nth-child(4) {
    background-color: rgb(87, 120, 186);
    height: 60px;
    width: 60px;
    line-height: 60px;
    font-size: 35px;
    border-bottom: solid 5px rgb(100, 99, 99);
}

.socials li:nth-child(4) > a {
    color: #ffffff;
    opacity: 0.4;
}

.socials li:nth-child(5) {
    background-color: rgb(160, 38, 34);
    height: 60px;
    width: 60px;
    line-height: 60px;
    font-size: 35px;
    border-bottom: solid 5px rgb(100, 99, 99);
}

.socials li:nth-child(5) > a {
    color: #ffffff;
    opacity: 0.4;
}

.categories {
    color: #ffffff;
}

.categories > div {
    margin: 0;
}

.categories div a {
    background-color: rgb(156, 23, 34);
    font-size: 18px;
    border-bottom: solid 5px rgb(100, 99, 99);
    padding: 8px 10px;

    width: 100%;
    display: inline-block;
}

.top-pic {
    background-image: url(../images/top-image\ copy.png);
    height: 350px;
    width: 100%;
    border: solid 10px #ffffff;
    margin-top: 20px;
}

.grid-overlay {
    background-image: url(../images/grid.png);
    height: 100%;
    width: 100%;
}

.grid-overlay > img {
    float: left;
    margin-top: 40px;
}

.news > div > article {
    background-color: #ffffff;
    text-align: left;
}

.news > div > article > p {
    margin: 15px;
}

.news > div > article > time {
    margin-left: 15px;
}

.news > div > article > p:nth-child(1) {
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
}

.news > div > article > p:nth-child(2) {
    font-size: 12px;
}